body {
    background-color: black;
}

#logo {
    padding: 0;
    margin: 0;
    min-width: 250px;
}

#navbar {
    position: fixed;
}

ul {
    list-style-type: none;
}

a {
    color: aliceblue;
}

h2 {
    text-decoration: underline;
    font-size: 1.7em;
    line-height: 10px;
}

h3 {
    text-decoration: underline;
    font-size: 1.7em;
}

p { 
    font-size: 1.4em;
    line-height: 22.5px;
}

.bandNames {
    line-height: 15px;
}

.nav {
    margin: 1.75% 0 0 0;
    width: 2%;
    min-width: 50px;
}

.topLeftArticle {
    display: block;
    margin: 26px 0 25px 125px;
    width: 40%;
    height: 35vh;
    min-width: 325px;
    float: left;
    border: 5px aliceblue solid;
    color: white;
    overflow: hidden;
    text-align: center;
}

.leftArticle {
    display: flex;
    margin: 26px 0 25px 125px;
    width: 40%;
    height: 35vh;
    min-width: 325px;
    border: 5px aliceblue solid;
    float: left;
    justify-content: center;
}

.rightArticle {
    display: flex;
    margin: 26px 0 25px 125px;
    width: 40%;
    height: 35vh;
    min-width: 325px;
    float: left;
    border: 5px aliceblue solid;
    color: white;
    justify-content: center;
    overflow: hidden;
    vertical-align: auto;
}

.bottomRightArticle { 
    display: block;
    margin: 26px 0 25px 125px;
    width: 40%;
    height: 35vh;
    min-width: 325px;
    float: left;
    border: 5px aliceblue solid;
    color: white;
    overflow: auto;
    text-align: center;
}

.albumText {
    position: absolute;
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    border: 2px white solid;
    border-radius: 10px;
    min-width: 10%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.upcomingShowsTitle {
    left: 100px;
}

#image {
    display: block;
    width: 100%;
    min-width: 500px;
    margin: auto;
}